{% extends "base.html" %}

{% block contenido %}
<div class="bg-light p-4 rounded">
  <h1 class="text-center mb-4">Acerca de...</h1>


  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="card p-4">
     
        <p class="fs-6 text-center">
        Pues yo no entendi que se tenia que poner aqui Jajajaja, pero bueno a mi me gusta escuchar musica, hacer ejercicio y jugar alguno que otro juego, me gustaria se del grande ingeniero aeroespacial ya que se me hace una carrera muy interesante y pues eso es todo jaja 😂 
        </p>

        <hr class="my-4">

        <h5 class="text-center">Nombre completo:</h5>
        <p class="text-center fs-5 fw-bold">Antonio MArin Luis Jeses</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
