{% extends "base.html"%}

{% block contenido %}
  <h1 class="text-center"> Pagina principal </h1>
    <h3 class="text-center"> Hola bienvenido a mi pagina</h3>
    <p class="text-center" style="font-size: 20px;"> En esta pagina podras encontraar diferentes apartados donde encontraras informacion detallada de ciertos temas y que te seran de grna interes ya que son cosas muy interesantes parabel publico en general, bueno te dejo de molestar, ve y explora todos los apartados que tengo para ti te aseguro que no te arrepentiras</p>

<div class="d-flex justify-content-center gap-3 my-4">
  <img src="static/img/maravillas.webp" alt="Hola amiga" class="img-fluid" style="width: 300px; height: auto;">
  <img src="static/img/animales.jpg" alt="Hola amiga" class="img-fluid" style="width: 300px; height: auto;">
</div>



{% endblock %}